<div th:fragment="transaction-income-add" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4 style="text-align: center">Добавить доход</h4>
    <form action="/transaction/add-income" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <select th:required="required" class="form-control" id="addPersonTypeId" name="personTypeId">
            <option value="">--Выберите тип лица--</option>
            <option th:each="personType : ${allPersonTypes}" th:value="${personType.id}" th:text="${personType.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addIncomeCategoryId" name="categoryId">
            <option value="">--Выберите категорию дохода--</option>
            <option th:each="userIncomeCategory : ${allUserIncomeCategories}" th:value="${userIncomeCategory.id}" th:text="${userIncomeCategory.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addIncomeAccountId" name="accountId">
            <option value="">--Выберите счет поступления--</option>
            <option th:each="userAccount : ${allUserAccounts}" th:value="${userAccount.id}" th:text="${userAccount.title}"></option>
        </select><br>

        <input type="text" name="inn" class="form-control" placeholder="Введите ИНН" th:attr="pattern='\d{11}'" title="ИНН должен состоять ровно из 11 цифр" required/><br>

        <input type="text" name="phone" class="form-control" placeholder="Введите телефон (например, +79001234567 или 89001234567)" th:attr="pattern='(\\+7|8)\\d{10}'" title="Телефон должен начинаться с +7 или 8 и содержать 11 цифр" required /><br>

        <input th:required="required" type="date" name="date" placeholder="Выберите дату поступления" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" id="dateIncome" class="form-control"/><br>

        <input th:required="required" type="number" name="amount" min="0.01" step="0.01" placeholder="Введите сумму поступления" class="form-control"><br>

        <textarea name="comment" class="form-control" rows="3" placeholder="Комментарий к операции (необязательно)"></textarea><br>

        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Добавить доход</button>
        </div>
    </form>
</div>