<div th:fragment="transaction-expense-add" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4 class="mt-5 mb-5" style="text-align: center">Добавить расход</h4>
    <form action="/transaction/add-expense" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <select th:required="required" class="form-control" id="addPersonTypeId" name="personTypeId">
            <option value="">--Выберите тип лица--</option>
            <option th:each="personType : ${allPersonTypes}" th:value="${personType.id}" th:text="${personType.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addExpenseCategoryId" name="categoryId">
            <option value="">--Выберите категорию расхода--</option>
            <option th:each="userExpenseCategory : ${allUserExpensesCategories}" th:value="${userExpenseCategory.id}" th:text="${userExpenseCategory.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addExpenseAccountId" name="accountId">
            <option value="">--Выберите счет списания--</option>
            <option th:each="userAccount : ${allUserAccounts}" th:value="${userAccount.id}" th:text="${userAccount.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addSenderBankId" name="senderBankId">
            <option value="">--Выберите банк отправителя --</option>
            <option th:each="userBank : ${allUserBanks}" th:value="${userBank.id}" th:text="${userBank.title}"></option>
        </select><br>

        <select th:required="required" class="form-control" id="addRecipientBankId" name="recipientBankId">
            <option value="">--Выберите банк получателя --</option>
            <option th:each="userBank : ${allUserBanks}" th:value="${userBank.id}" th:text="${userBank.title}"></option>
        </select><br>

        <input type="text" name="inn" class="form-control" placeholder="Введите ИНН" th:attr="pattern='\d{11}'" title="ИНН должен состоять ровно из 11 цифр" required/><br>

        <input type="number" name="recipientAccountNumber" class="form-control" placeholder="Введите расчетный счет получателя" /><br>

        <input type="text" name="phone" id="phone" class="form-control" placeholder="Введите телефон (например, +79001234567 или 89001234567)" pattern="(\+7|8)\d{10}" title="Телефон должен начинаться с +7 или 8 и содержать 11 цифр" required /><br>

        <input th:required="required" type="date" name="date" placeholder="Выберите дату списания" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" id="dateExpense" class="form-control"/><br>

        <input th:required="required" type="number" name="amount" min="0.01" step="0.01" placeholder="Введите сумму списания" class="form-control"><br>

        <textarea name="comment" class="form-control" rows="3" placeholder="Комментарий к операции (необязательно)"></textarea><br>

        <select th:required="required" class="form-control" id="addTransactionStatusId" name="transactionStatusId">
            <option value="">--Выберите статус транзакции--</option>
            <option th:each="status : ${allTransactionStatuses}"
                    th:value="${status.id}"
                    th:text="${status.title}">
            </option>
        </select><br>

        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Добавить расход</button>
        </div>
    </form>
</div>

<script>
    const phoneInput = document.getElementById('phone');
    Inputmask({
      mask: "(+7|8)9999999999",
      placeholder: "",
      definitions: {
        '9': {
          validator: "[0-9]"
        }
      }
    }).mask(phoneInput);
</script>